---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Siedmiogród – Historia i Nazwy";

const identity = {
  firstName: "Milosz",
  country: "Wrona",
  occupation: "Katowice",
  hobbies: ["Narty", "Rower", "Natura"],
};

const skills = [
  "Brawurowa jazda na rowerze",
  "Brawurowa jazda na nartach",
  "Brawurowa jazda zafirą",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    <p>Oto kilka faktów o mnie:</p>
    <ul>
      <li>Mam na imię {identity.firstName}.</li>
      <li>
        Mieszkam w {identity.country} i pracuję jako {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Moje dwie pasje to: {identity.hobbies[0]} i {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Moje umiejętności to:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    <p>
      Siedmiogród to region pełen legend, zamków i kulturowego miksu. Każdy
      nazywa go inaczej:
    </p>
    <ul>
      <li>
        <span class="highlight">Transylwania</span> – współczesna rumuńska nazwa.
      </li>
      <li>
        <span class="highlight">Siebenbürgen</span> – nazwa niemiecka używana przez
        Sasów.
      </li>
      <li><span class="highlight">Erdély</span> – węgierska wersja nazwy.</li>
      <li><span class="highlight">Transsilvania</span> – łacińska nazwa.</li>
      <li>
        <span class="highlight">Erdel</span> – dawna nazwa używana przez Turków.
      </li>
      <li>
        <span class="highlight">Zibnbergen</span> – jidyszowe „siedem zamków”.
      </li>
    </ul>
    <p>
      Każda z tych nazw niesie za sobą kawał historii – od średniowiecznych
      kolonii niemieckich, przez węgierskie rządy, aż po włączenie do Rumunii w
      XX wieku. Dziś to miejsce pełne bajkowych miasteczek, zamków i
      niesamowitych krajobrazów.
    </p>
    <p class="footer">© 2025 Twoja Stara | Wszystkie prawa zastrzeżone</p>
  </div>
</BaseLayout>
